<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>
    <%  for (post of posts){ %>
        <div class="post">
            <h3 class="user">@<%= post.username %></h3>
            <h4 class="content"> <%= post.content %> </h4>
           
        </div>

        <a href="http://localhost:8080/posts/<%= post.id %>">See in Detail</a>
        <a href="http://localhost:8080/edit/post/<%= post.id %>">Edit</a>
        <form method="post" action="/posts/<%= post.id %>?_method=Delete">
            <button type="submit"> Delete Post</button>
        </form>
        
        
    <% } %>

    <br>
    <br>
    <a href="http://localhost:8080/new/post">Create a new Post</a>
</body>
</html>

